@import "tailwindcss";

.my-app-dark nav {
    background-color: #091725; /* Dark blue background */
    color: #ffffff; /* Adjust text color as needed */
  }

  .my-app-dark .descriptionpara {
    color: #9eaf9c; /* This is the hex equivalent of text-gray-400 */
}


.my-app-dark .footer {
background-color: #111827; /* This is the hex equivalent of text-gray-400 */
}


.my-app-dark .card:hover {
  background-color: #0f172a;
   /* This is the hex equivalent of text-gray-400 */
  }

  .my-app-dark .logincard {
    background-color:#091725  /* This is the hex equivalent of text-gray-400 */
    }
  

